{{ $class := .Get "class" | default "bonkers-font" }}
{{ $font_size := .Get "font_size" | default "1.5em" }}
{{ $text := .Get "text" }}
{{ $type := .Get "type" | default "h1" }}
{{ $link := .Page.Permalink }}

{{ if eq (slice (len $link) 0 (len $link)) "/" }}
{{ $link = substr $link 0 (sub (len $link) 1) }}
{{ end }}
<a href="{{ $link }}#{{ $text }}" style="text-decoration: none;">
    <h1 id="{{ $text }}" class="{{ $class }}" style="font-size: {{ $font_size }};">
        {{ if $text }}
        {{ $text }}
        {{else}}
        {{ .Inner }}
        {{ end }}

    </h1>
</a>